[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
gunicorn = "*"
psycopg2-binary = "*"
redis = "*"
django-redis = "*"
celery = "*"
drf-spectacular = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cleanup = "*"

[dev-packages]

[requires]
python_version = "3.13"
